:root {
	--content-width: 325px;
	--disk-color: #8cd1da;
	--dark-gray: #3a3a3a;
	--hover-gray: #00000010;
}

.dark {
	filter: invert();
	background: #0e0e0e;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

main.content-container {
	display: flex;
	width: var(--content-width);
	justify-content: space-between;
}

.tower {
	width: var(--tower-width);
	border-bottom: solid var(--dark-gray) 2px;
	display: flex;
	flex: 0.3;
	flex-direction: column-reverse;
	align-items: center;
	padding: 7px 0;
}

.tower:hover {
	background-color: var(--hover-gray);
	cursor: pointer;
}

.disk {
	height: 20px;
	width: 100%;
	margin-top: 5px;
	background-color: var(--disk-color);
	background-image: linear-gradient(45deg, #00000020 60%, #ffffff80 60%);
	border-radius: 6.25px;
	border: 2px solid var(--dark-gray);
	box-shadow: inset 10px 15px #00000080;
	padding-left: 3.33px;
	color: transparent;
	font-size: 0.8em;
	display: flex;
	align-items: center;
}

.disk.show-text {
	color: #fff
}

.disk.selected {
	border: dashed 2px var(--dark-gray);
	background: none;
	box-shadow: none;

}

.disk.dark {
	border-color: #ffffff50;
	filter: invert() brightness(0.8);
}

.info-options {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.info-options section {
	display: flex;
	position: relative;
}

.options {
	display: flex;
	position: absolute;
	right: 0;
}

.icon {
	background: center/60% no-repeat;
	border-radius: 50%;
	height: 36px;
	width: 36px;
}

.icon:hover {
	cursor: pointer;
	background-color: var(--hover-gray);
}

.icon.reset {
	background-image: url("./svg/reset-icon.svg");
}

.icon.hash {
	background-image: url("./svg/hash-icon.svg");
}

.icon.moon {
	background-image: url("./svg/moon-icon.svg");
}

input[type=range] {
	-webkit-appearance: none;
	height: 2px;
	width: var(--content-width);
	background: var(--dark-gray);
	margin-bottom: 20px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: solid 2px var(--dark-gray);
	background-color: #fff;
	background-image: linear-gradient(45deg, #00000050 50%, #ffffff80 50%);
}

input[type=range]::-webkit-slider-runnable-track {
	margin: 0 8px;
}