
:root {
	--content-width: 325px;
	--disk-color: #da8c8c;
	--dark-gray: #071ef1;
	--hover-gray: #00000010;

}

.dark {
	filter: invert();
	background: #000000;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}

main.content-container {
	display: flex;
	width: var(--content-width);
	justify-content: space-between;
}

.tower {
	width: var(--tower-width);
	border-bottom: solid var(--dark-gray) 2px;
	display: flex;
	flex: 0.3;
	flex-direction: column-reverse;
	align-items: center;
	padding: 7px 0px;
	height: 123px;
}

.tower:hover {
	background-color: var(--hover-gray);
	cursor: pointer;
}

.disk {
	height: 20px;
	width: 100%;
	margin-top: 1px;
	background-color: var(--disk-color);
	background-image: linear-gradient(45deg, #00000020 60%, #ffffff80 60%);
	border-radius: 6.25px;
	border: 0.000001px solid var(--dark-gray);
	box-shadow: inset 10px 15px #00000080;
	padding-left: 5.33px;
	color: transparent;
	font-size: 10.1em;
	display: flex;
	align-items: center;
}

.disk.show-text {
	color: #fff
}

.disk.selected {
	border: dashed 2px var(--dark-gray);
	background: none;
	box-shadow: none;

}

.disk.dark {
	border-color: #ffffff50;
	filter: invert() brightness(0.8);
}

.info-options {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.info-options section {
	display: flex;
	position: relative;
}

.options {
	display: flex;
	position: absolute;
	right: 0;
}

.icon {
	background: center/60% no-repeat;
	border-radius: 50%;
	height: 36px;
	width: 36px;
}







.icon.moon {
	background-image: url("./svg/moon-icon.svg");
}

input[type=range] {
	-webkit-appearance: none;
	height: 2px;
	width: var(--content-width);
	background: var(--dark-gray);
	margin-bottom: 20px;
}

input[type=range]:focus {
	outline: none;
}
#logo{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
#name{
	position: fixed;
	top: 8%;
	left: 931px;
	right: 0%;
	height: 100px;
	z-index: 100;
	font-size: 170%;
	font-family: 'Roboto',courier;
	color: rgb(255, 0, 0);
}

.pesetbuton {
	box-shadow:inset 50px 44px 0px 1px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:21px;
	border:7px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:1px -1px 50px #2b665e;
	top: 8%;
	
}
.pesetbuton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.pesetbuton:active {
	position:relative;
	top:1px;
}






.btn {
	-webkit-border-radius: 30;
	-moz-border-radius: 30;
	border-radius: 30px;
	text-shadow: 1px 1px 1px #c4c4c4;
	font-family: Arial;
	color: #000000;
	font-size: 13px;
	background: #34d9d9;
	padding: 10px 20px 10px 10px;
	border: solid #1f628d 2px;
	text-decoration: none;
	cursor: pointer;
  }
  
  .btn:hover {
	text-decoration: none;
  }

  




	